@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Poppins:wght@100&display=swap');

#product-data {
  width: 10rem;
}

#product-image {
  width: 10rem;
}

.logo-image {
  width: 10rem;
  border-radius: 10px;
}

.order-list-items {
  margin-top: 20px;
}

.order-list {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.order-summary {

  width: 80%;
  display: flex;
  margin: auto;
  padding: 20px;
}

.order-summary-items {
  /* align-self: flex-end;
  right: 0; */
 
}

.order-placed {
  color: green;
  justify-content: center;
  text-align: center;
}

.place-order-button {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.order-img-item {
  width: 40px;
  height: 35px;
}

.order {
  font-family: 'Bitter', serif;
  /* background: url(https://images.pexels.com/photos/5632371/pexels-photo-5632371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.Home {
  display:grid;
  row-gap: 15rem;
  grid-template-rows: 150px 150px;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-columns:repeat(3 ,1fr);
  grid-template-columns:30% repeat(2,1fr);
  padding: 5rem;
}

.product-data {
  font-family: 'Poppins', sans-serif;
  color: rgb(2, 38, 74);
  font-weight: bolder;
}

.cart {
  font-family: 'Bitter', serif;
}

.cart-entire {
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

.cart-product-img {
  display: flex;
}

.cart-product-name {
  margin-left: 5px;
}

.cart-items {
  padding: 30px;
  margin-top: 10px;
}

.cart-item-list {
  display: flex;
  justify-content: space-around;
  width: 20%;
  height: 25px;
}

.cart-remove-item-button {
  font-size: 10px;
  background-color: black;
  padding: 4px;
}

.cart-item-inc-dec {
  font-size: 16px;
    background-color: black;
    padding: 0px;
    height: 25px;
    width: 36px;
}

.cart-clear-checkout {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.cart-header {
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
}

