@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Poppins:wght@100&display=swap');

#product-data {
  width: 10rem;
}

#product-image {
  width: 10rem;
}

.logo-image {
  width: 10rem;
  border-radius: 10px;
}

.order-list-items {
  margin-top: 20px;
}
h5 {
  color: white;
}
.order-list {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.order-summary {

  width: 80%;
  display: flex;
  margin: auto;
  padding: 20px;
}

.order-summary-items {
  align-self: flex-end;
  right: 0;
 
}

.order-placed {
  color: green;
  justify-content: center;
  text-align: center;
}

.place-order-button {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.order-list-summary {
  text-shadow:gray;
}
.order-img-item {
  width: 40px;
  height: 35px;
}

.order {
  font-family: 'Bitter', serif;
  background: url(https://blog.dieutek.com/wp-content/uploads/2020/09/eCommerce-website-search-customer-experience.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Home {
  display:grid;
  row-gap: 15rem;
  grid-template-rows: 150px 150px;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-columns:repeat(3 ,1fr);
  grid-template-columns:30% repeat(2,1fr);
  padding: 5rem;
  
}

.product-data, h3, h5{
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Bitter', serif; */
  font-weight: bolder;
  /* height: 262px;
  width: 170px; */
}

.cart {
  font-family: 'Bitter', serif;
}

.cart-entire {
  border: 1px solid black;
  width: 80%;
  margin: auto;
}

.cart-product-img {
  display: flex;
}

.cart-product-name {
  margin-left: 5px;
}

.cart-items {
  padding: 30px;
  margin-top: 10px;
}

.cart-item-list {
  display: flex;
  justify-content: space-around;
  width: 20%;
  height: 25px;
}

.cart-remove-item-button {
  font-size: 10px;
  background-color: black;
  padding: 4px;
}

.cart-item-inc-dec {
  font-size: 16px;
  background-color: black;
  padding: 0px;
  height: 25px;
  width: 36px;
}

.cart-clear-checkout {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.cart-header {
  text-align: center;
  margin-top: 20px;
  font-weight: bolder;
}

.Show {
  display: grid;
  grid-template-columns: 1fr 1fr
}

#product-image {
  width: 400px;
}

.show-name {
  font-weight: bold;
  margin-bottom: 20pt;
}

.show-qnt{
  color: red;
  margin-top: 20pt;
}

.show-des {
  margin-top: 20pt;
}

.footer {
  position: fixed;
  left:0px;
  bottom:0px;
  height: 100px;
  width:100%;
  background-color: rgb(12, 102, 246);
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  
}

.footer-tag {
  font-weight: bold;
  margin: 0pt;
}

.footer-rights {
  margin: 0pt;
}

.footer-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0pt;
  grid-column-gap: 0rem;
}

.product-card-img {
  height: 260px;
  width: 260px;
  margin-left: 12px;
  margin-top: 20px;
}

.product-card-price {
  display: flex;
    text-align: center;
    margin: auto;
    background-color: rgb(248, 248, 255);
    color: black;
}

.product-card-name {
  text-align: center;
  font-size: 18px;
  color: white;
}

#home-bg {
  background-color: rgb(245, 245, 245);
}

.order-list-items {
  color: rgb(10, 9, 9);
}