@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=Poppins:wght@100&display=swap');

#product-data {
  width: 10rem;
}

#product-image {
  width: 10rem;
}

.logo-image {
  width: 10rem;
  border-radius: 10px;
}


.Home {
  display:grid;
  row-gap: 15rem;
  grid-template-rows: 150px 150px;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-columns:repeat(3 ,1fr);
  grid-template-columns:30% repeat(2,1fr);
  padding: 9rem;
  padding-right: 0;
  grid-gap: 20px 40px 10px;
}

.product-data, h3{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: black;
}

.footer, p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  color: gray;
}

.footer-icons, h1 {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}